body{
    margin: 0px;
    padding: 0px;
    color: #000;
    background-color: #000000;
}
main{
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(255, 255, 255);;
    text-align: center;
}
img{display: block;
margin: auto;
}
#grabe{
position: absolute;
top: 10px;
left: 10px;

text-align: right;}
h1{

    text-align: center;
    margin-top: 0;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    .nav ul{
        list-style: none;
        background-color: hsl(0, 4%, 15%);
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    .nav li{
        display: inline-block;
        list-style: none;
        text-align: center;
    }
    .nav a{
        color: white;
        font-family: monospace;
        text-decoration: none;
        padding: 15px;
        margin: 5px;
        display: block;
        text-align: center;

    }
.nav a:hover{
        color: black;
background-color: hsl(0, 0%, 100%);
border-radius: 10px;
transition: background-color 0.5s;
}
h3{
    color: rgb(255, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-size: 15px;}
  
  .slideshow-container {
    position: relative;
    width: 80%; /* Adjust as needed */
    max-width: 800px; /* Max width of the slideshow */
    text-align: center;
    margin: auto;
    margin-bottom: -70px;
  }
  .slideshow {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease; /* Fade transition */
  }
  
  .slide.active {
    opacity: 1;}
  
  .slide img {
    margin: auto;
    width: 220px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    border-style: double;
    
     }
  
  .dots-container {
    position: absolute;
    bottom:95px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #007bff;
  }
.more-pages{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
border-color: beige;
background-color: #000000;
border: white;
border-style: solid;
height: 23px;
border-width: 1px;
width: 300px;
margin: auto;
}
.more-pages p{
  font-family: monospace;
margin-top: 3px;
}
#more-pages p{font-family: monospace;}
.container {
  margin:auto;
  display: flex;
  justify-content: center;
  max-width: 800px; /* Limit maximum width */
  width: 300px;
}

.box {
  text-align: center; /* Center text horizontally */
  margin: 0 10px; /* Add margin between boxes */
}

.box h2 {
  font-size: medium;
  margin-bottom: 10px;
  font-family: monospace;
  border-style: solid;
  border-width: 1PX;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.box img {
  max-width: 100%; /* Ensure image does not exceed container width */
  height: 250; /* Maintain aspect ratio */
  display: block; /* Remove extra space beneath image */
  border-radius: 8px;
  width: 100px;
}
.containers{
  display: flex;
  justify-content: space-around;
  width: 350px;
  margin: auto;
}
.text h2{
  font-family: monospace;
  text-align: center;
  width: 100px;
  font-size: medium;
}
.clickable-image {
  border: #000000;
  cursor: pointer;
  transition: opacity 0.3s ease; /* Smooth transition for opacity change */
}

.clickable-image:active {
  opacity: 0.5; /* Change opacity when the image is clicked */
}
.clickable-image:hover {
  border-color: rgb(16, 0, 247);
  border-style: solid;}
  .container2 {
    margin:auto;
    display: flex;
    justify-content: center;
    max-width: 800px; /* Limit maximum width */
    width: 300px;
  }
  
  .box2 {
    text-align: center; /* Center text horizontally */
    margin: 0 25px; /* Add margin between boxes */
  }
  
  .box2 h2 {
    font-size: 11px;
    margin-bottom: px;
    font-family: monospace;
    border-style: solid;
    border-width: 1PX;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;

     }
    
  
  .box2 img {
    max-width: 100%; /* Ensure image does not exceed container width */
    height: 250; /* Maintain aspect ratio */
    display: block; /* Remove extra space beneath image */
    border-radius: 8px;
    width: 100px;
    margin-left: 10px;
  }
    
  .box3 img {
    max-width: 100%; /* Ensure image does not exceed container width */
    height: 250; /* Maintain aspect ratio */
    display: block; /* Remove extra space beneath image */
    border-radius: 8px;
    width: 100px;
   margin-right: 26px;
  }
  .box3 h2 {
    font-size: 11px;
    margin-bottom: px;
    font-family: monospace;
    border-style: solid;
    border-width: 1PX;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-right: 30px;
     }
     .container3 {
      margin:auto;
      display: flex;
      justify-content: center;
      max-width: 800px; /* Limit maximum width */
      width: 300px;
      margin-top: 10px;
    }
    .box4 {
      text-align: center; /* Center text horizontally */
      margin: -9px; /* Add margin between boxes */
    }
     .box4 img {
      max-width: 100%; /* Ensure image does not exceed container width */
      height: 250; /* Maintain aspect ratio */
      display: block; /* Remove extra space beneath image */
      border-radius: 8px;
      width: 100px;
     margin-right: 150px;
     margin-top: -30;
     margin-left: 60px;
    }
    .box4 h2 {
      text-align: center;
      font-size: 11px;
      margin-bottom: px;
      font-family: monospace;
      border-style: solid;
      border-width: 1PX;
      border-radius: 5px;
     margin-right: 50px;
      margin-left: 50px;
      margin-top: 5px;
       }
       .box5 img {
        max-width: 100%; /* Ensure image does not exceed container width */
        height: 250; /* Maintain aspect ratio */
        display: block; /* Remove extra space beneath image */
        border-radius: 8px;
        width: 100px;
       margin-right: 150px;
       margin-top:5px ;
      }
      .box5 h2 {
        font-size: 10px;
        margin-bottom: px;
        font-family: monospace;
        border-style: solid;
        border-width: 1PX;
        padding-left: px;
        padding-right: px;
        border-radius: 5px;
        margin-right: 40px;
        margin-top: -10px;
        margin-left:-10px ;
         }
         a{
          color: #ffffff;}
         a:hover{
          text-decoration: none;
          transition: background-color 0.5s;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 10px;
          background-color: white;
          color: rgb(0, 0, 0);}
          .carousel {
            margin: auto;
            position: relative;
            width: 80%;
            max-width: 600px;
            overflow: hidden;
        }
        
        .carousel-inner {
          margin: auto;
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
        
        .carousel-item {
          margin: auto;
            min-width: 100%;
            position: relative;
        }
        
        .carousel-item img {
          margin: auto;
            width: 160px;
            display:block;
        }