body{
    margin: 0px;
    padding: 0px;
    color: #000;
    background-color: #000000;
}
main{
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(255, 255, 255);;
    text-align: center;
}
img{display: block;
margin: auto;
}
h1{

    text-align: center;
    margin-top: 0;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    .nav ul{
        list-style: none;
        background-color: hsl(0, 4%, 15%);
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    .nav li{
        display: inline-block;
        list-style: none;
        text-align: center;
    }
    .nav a{
        color: white;
        font-family: monospace;
        text-decoration: none;
        padding: 15px;
        margin: 5px;
        display: block;
        text-align: center;

    }
.nav a:hover{
    background-color: hsl(0, 0%, 0%);
    border-radius: 100px;
}
h3{
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-size: 15px;}
  .slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
  
  /* Hide all images by default */
  .mySlides {
    display: none;
  }
  
  /* Fade animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  /* Navigation dots */
  .dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* Active dot */
  .active {
    background-color: #717171;
  }
  
  /* Animation for fading images */
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }