body{
    margin: 0px;
    padding: 0px;
    color: #000;
    background-color: #000000;
}
main{
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(255, 255, 255);;
    text-align: center;
}
img{display: block;
margin: auto;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: white;
    margin-top: 5px;
   }
p{color: rgb(255, 255, 255);
    text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
a:link {
    background-color: rgb(0, 0, 0);
    color: rgb(137, 137, 137);
  }
  
  a:visited {
    background-color: rgb(47, 47, 47);
  }
  
  a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
  }
  
  a:active {
    background-color: rgb(255, 255, 255);
  } 
  .nav ul{
    list-style: none;
    background-color: hsl(0, 4%, 15%);
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.nav li{
    display: inline-block;
    list-style: none;
    text-align: center;
}
.nav a{
    color: white;
    font-family: monospace;
    text-decoration: none;
    padding: 15px;
    margin: 5px;
    display: block;
    text-align: center;

}
.nav a:hover{
  color: black;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  transition: background-color 0.5s;
}
.author ul{
  list-style: none;
  background-color: rgb(0, 0, 0);
  padding-left: 20px;
  padding-left: 20px;
}
  .author li{
    list-style: none;
    text-align: center;
}
.author a{
  text-align: center;
  color: rgb(255, 255, 255);
}
#author1{
  display: flex;
  margin: auto;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20PX;
  padding-bottom: 20PX;
  border-radius: 10px;
  font-size: large;
  margin-left: -15px;
  font-family: monospace;
  text-decoration: none;
 border-style: solid;
}
#author1:hover{
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  transition: background-color 0.5s;
}
  